<!DOCTYPE html>
<html>
<head>
	<title>Practica</title>
	<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/static/css/style.css}" rel="stylesheet" />
</head>
<body>
<div class="top">
  
</div>
<div class="center_cont">
<div th:insert="header"></div>
<div class="about">
  Bun venit pe website-ul nostru. Aceasta pagina web are ca scop impartasirea experientei in timpul practicei la diferite astepecte ale ei.Toate aspectele practicii sunt divizate pe diferite pagini pentru comoditatea utilizatorului.
</div>
<div class="about">
  Website-ul se afla in lucara asa ca pot aparea elemente noi si se pot modifica elementele vechi.
</div>

</body>
<script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</html>