<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Practica</title>
	<link th:href="@{/static/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/static/css/style.css}" rel="stylesheet" />
</head>
<body>
	<div class="top">
  
	</div>
	<div class="center_cont">
	<div th:insert="header"></div>
	</nav>
	<div class="info">
	Posteaza pe pagina <span th:text="${text}"> </span>
	</div>
	<div class="text_area">
	<form th:action="@{/post/__${text}__}" method="post">
		<textarea name ="text"cols=200 rows=10></textarea>
		<div class="submit_button">
			<button type="submit" class="btn btn-primary">Posteaza</button>
		</div>
		</form>
	</div>


	</div>
</body>
<script type="text/javascript" src="js/jquery-3.5.1.slim.min.js"></script>
<script type="text/javascript" src="js/bootstrap.bundle.min.js"></script>
</html>